In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
# import datetime  # импортируем библиотеку datetime для работы с датами
#from datetime import datetime, date
import itertools as it
import json
import csv
import time

In [3]:
# Импортируем наши библиотеки    
from bs4 import BeautifulSoup    
import requests

In [4]:
avto = pd.read_csv('test_6.csv') # записываем CSV-файл в объект DataFrame
avto.sample(5)

,bodyType,brand,car_url,color,complectation_dict,description,engineDisplacement,enginePower,equipment_dict,fuelType,...,vehicleConfiguration,vehicleTransmission,vendor,Владельцы,Владение,ПТС,Привод,Руль,Состояние,Таможня
9396,внедорожник 5 дв.,BMW,https://auto.ru/cars/used/sale/bmw/x5/11005074...,чёрный,NaN,"Авто в отлично состоянии, ТО проходил каждые 7...",3.0 LTR,235 N12,"{""cruise-control"":true,""asr"":true,""tinted-glas...",дизель,...,ALLROAD_5_DOORS AUTOMATIC 3.0,автоматическая,EUROPEAN,3 или более,NaN,Оригинал,полный,Левый,Не требует ремонта,Растаможен
8028,хэтчбек 5 дв.,BMW,https://auto.ru/cars/used/sale/bmw/1er/1100191...,чёрный,"{""id"":""2430196"",""name"":""116"",""available_option...",Я владелец. ПТС оригинал. Два ключа.Резина Run...,1.6 LTR,115 N12,"{""electro-window-back"":true,""esp"":true,""airbag...",бензин,...,HATCHBACK_5_DOORS MECHANICAL 1.6,механическая,EUROPEAN,3 или более,2 года и 6 месяцев,Оригинал,задний,Левый,Не требует ремонта,Растаможен
1878,лифтбек,SKODA,https://auto.ru/cars/used/sale/skoda/octavia/1...,бежевый,NaN,"Автомобиль находится в хорошем состоянии, двиг...",1.6 LTR,102 N12,NaN,бензин,...,LIFTBACK MECHANICAL 1.6,механическая,EUROPEAN,3 или более,NaN,Оригинал,передний,Левый,Не требует ремонта,Растаможен
23963,внедорожник 5 дв.,VOLKSWAGEN,https://auto.ru/cars/used/sale/volkswagen/tigu...,чёрный,NaN,\nНе автодилер!!! Второй хозяин с 2018 года. М...,2.0 LTR,170 N12,"{""cruise-control"":true,""asr"":true,""16-inch-whe...",бензин,...,ALLROAD_5_DOORS AUTOMATIC 2.0,автоматическая,EUROPEAN,2 владельца,2 года и 1 месяц,Оригинал,полный,Левый,Не требует ремонта,Растаможен
30001,внедорожник 5 дв.,AUDI,https://auto.ru/cars/used/sale/audi/q3/1101323...,чёрный,NaN,- 2-х зонный климат контроль\n- парктроники\n-...,2.0 LTR,170 N12,"{""asr"":true,""esp"":true,""airbag-driver"":true,""u...",бензин,...,ALLROAD_5_DOORS ROBOT 2.0,роботизированная,EUROPEAN,2 владельца,NaN,Оригинал,полный,Левый,Не требует ремонта,Растаможен

In [28]:
print(avto.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34686 entries, 0 to 34685
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   bodyType              34686 non-null  object
 1   brand                 34686 non-null  object
 2   car_url               34686 non-null  object
 3   color                 34686 non-null  object
 4   complectation_dict    6418 non-null   object
 5   description           34686 non-null  object
 6   engineDisplacement    34686 non-null  object
 7   enginePower           34686 non-null  object
 8   equipment_dict        24690 non-null  object
 9   fuelType              34686 non-null  object
 10  image                 34686 non-null  object
 11  mileage               34686 non-null  int64
 12  modelDate             34686 non-null  int64
 13  model_info            34686 non-null  object
 14  model_name            34686 non-null  object
 15  name                  34686 non-null  object
 16  numberOfDoors         34686 non-null  int64
 17  parsing_unixtime      34686 non-null  int64
 18  priceCurrency         34686 non-null  object
 19  productionDate        34686 non-null  int64
 20  sell_id               34686 non-null  int64
 21  super_gen             34686 non-null  object
 22  vehicleConfiguration  34686 non-null  object
 23  vehicleTransmission   34686 non-null  object
 24  vendor                34686 non-null  object
 25  Владельцы             34686 non-null  object
 26  Владение              11995 non-null  object
 27  ПТС                   34685 non-null  object
 28  Привод                34686 non-null  object
 29  Руль                  34686 non-null  object
 30  Состояние             34686 non-null  object
 31  Таможня               34686 non-null  object
dtypes: int64(6), object(26)
memory usage: 8.5+ MB
None

In [5]:
# проверяем как записаны столбцы
avto.columns

Index(['bodyType', 'brand', 'car_url', 'color', 'complectation_dict',
       'description', 'engineDisplacement', 'enginePower', 'equipment_dict',
       'fuelType', 'image', 'mileage', 'modelDate', 'model_info', 'model_name',
       'name', 'numberOfDoors', 'parsing_unixtime', 'priceCurrency',
       'productionDate', 'sell_id', 'super_gen', 'vehicleConfiguration',
       'vehicleTransmission', 'vendor', 'Владельцы', 'Владение', 'ПТС',
       'Привод', 'Руль', 'Состояние', 'Таможня'],
      dtype='object')

In [6]:
avto.isnull().sum()

bodyType                    0
brand                       0
car_url                     0
color                       0
complectation_dict      28268
description                 0
engineDisplacement          0
enginePower                 0
equipment_dict           9996
fuelType                    0
image                       0
mileage                     0
modelDate                   0
model_info                  0
model_name                  0
name                        0
numberOfDoors               0
parsing_unixtime            0
priceCurrency               0
productionDate              0
sell_id                     0
super_gen                   0
vehicleConfiguration        0
vehicleTransmission         0
vendor                      0
Владельцы                   0
Владение                22691
ПТС                         1
Привод                      0
Руль                        0
Состояние                   0
Таможня                     0
dtype: int64

In [7]:
pd.DataFrame(avto.brand.value_counts())

            brand
BMW          4473
VOLKSWAGEN   4404
NISSAN       4393
MERCEDES     4180
TOYOTA       3913
AUDI         3421
MITSUBISHI   2843
SKODA        2741
VOLVO        1463
HONDA        1150
INFINITI      871
LEXUS         834

In [8]:
pd.DataFrame(avto.vendor.value_counts())

          vendor
EUROPEAN   20682
JAPANESE   14004

In [9]:
pd.DataFrame(avto.fuelType.value_counts())

         fuelType
бензин      28601
дизель       5800
гибрид        223
электро        55
газ             7

In [10]:
goda=pd.DataFrame(avto.modelDate.value_counts())
avto.modelDate.min()

1904

In [11]:
avto.modelDate.max()

2020

In [13]:
brands = ['VOLKSWAGEN', 'NISSAN','MERCEDES', 'TOYOTA', 'AUDI', 'MITSUBISHI','SKODA','VOLVO','HONDA','INFINITI','LEXUS', 'BMW']

In [71]:
# Собираем ссылки для заданных брендов в файл auto.json
url = 'https://auto.ru/moskva/cars/'
cars_urls = {}
counter = 0
for car_brand in brands:
    brand_url = url + car_brand + '/used/?page='
    cars_urls[car_brand] = []
    print(car_brand, counter)
    for number in range(1, 100):
        response = requests.get(brand_url+str(number),
                                headers={'User-Agent': 'Mozilla/5.0'})
        # Теперь создадим объект BeautifulSoup, указывая html парсер
        page = BeautifulSoup(response.text, 'html.parser')
        # Получаем все элементы с тегом 'a' и классом 'Link ListingItemTitle-module__link'
        link_list = page.find_all(
            'a', class_='Link ListingItemTitle-module__link')
        if len(link_list) != 0:
            for link in link_list:
                cars_urls[car_brand].append(link['href'])
                counter += 1
        else:
            break

with open('auto.json', 'w') as fp:
    json.dump(cars_urls, fp)

MITSUBISHI 0

In [ ]:
counter

- 01 + 'bodyType', 
- 02 + 'brand', 
- 03 + 'car_url', 
- 04 + 'color',
- 05 ? 'complectation_dict',
- 06 + 'description', 
- 07 + 'engineDisplacement', 
- 08 + 'enginePower', 
- 09 - 'equipment_dict', 
- 10 + 'fuelType', 
- 11 + 'image', 
- 12 + 'mileage', 
- 13 + 'modelDate', 
- 14 - 'model_info', 
- 15 + 'model_name',
- 16 + 'name', 
- 17 + 'numberOfDoors', 
- 18 - 'parsing_unixtime', 
- 19 + 'priceCurrency',
- 20 + 'productionDate', 
- 21 - 'sell_id', 
- 22 - 'super_gen', 
- 23 + 'vehicleConfiguration',
- 24 + 'vehicleTransmission', 
- 25 - 'vendor', 
- 26 + 'Владельцы', 
- 27 - 'Владение', 
- 28 + 'ПТС', 
- 29 + 'Привод', 
- 30 + 'Руль', 
- 31 + 'Состояние', 
- 32 + 'Таможня'

In [ ]:
# Собираем данные
counter = 0
cars = []

with open('auto.json') as f:
    avto = json.load(f)

for brand, cars_urls in avto.items():
    print(brand)
    for url in cars_urls:
        time.sleep(0.3)
        url_dict = {}

        response = requests.get(url, headers={'User-Agent': 'Mozilla/5.0'})
        response.encoding = 'utf-8'
        if response.status_code == 200:
            page = BeautifulSoup(response.text, 'html.parser')
            if 'Этот автомобиль уже продан' in page.text:
                continue
            else:
                script = page.find_all('script', attrs={'type': 'application/ld+json'})[0]
                details = json.loads(script.text)
                if 'bodyType' in details:
                    url_dict['bodyType'] = details['bodyType']
                else:
                    url_dict['bodyType'] = np.nan
                if 'brand' in details:
                    url_dict['brand'] = details['brand']
                else:
                    url_dict['brand'] = np.nan
                url_dict['car_url'] = url
                if 'color' in details:
                    url_dict['color'] = details['color']
                else:
                    url_dict['color'] = np.nan
                url_dict['description'] = details['description']
                url_dict['engineDisplacement'] = details['vehicleEngine']['engineDisplacement']
                url_dict['enginePower'] = details['vehicleEngine']['enginePower']
                #url_dict['fuelType'] = page.find_all('a', class_='Link Link_color_black')[3].text
                url_dict['fuelType'] = details['vehicleEngine']['fuelType']
                url_dict['image'] = details['image']
                url_dict['mileage'] = int(page.find('li', class_='CardInfoRow CardInfoRow_kmAge').find_all(
                    'span', class_='CardInfoRow__cell')[1].text.replace(u'\xa0', u' ')[:-3].replace(' ', ''))
                url_dict['modelDate'] = page.find_all('a', class_='Link Link_color_black')[0].text
                # url_dict['model_info'] =
                url_dict['model_name'] = str(page.find('script', attrs={
                    'type': 'application/json', 'id': 'initial-state'})).partition('"model_info":{"code":"')[2].partition('","name":"')[0]
                url_dict['name'] = details['name']
                if 'numberOfDoors' in details:
                    url_dict['numberOfDoors'] = details['numberOfDoors']
                else:
                    url_dict['numberOfDoors'] = np.nan
                url_dict['priceCurrency'] = details['offers']['priceCurrency']
                url_dict['price'] = details['offers']['price']
                url_dict['productionDate'] = details['productionDate']
                url_dict['vehicleConfiguration'] = details['vehicleConfiguration']
                if 'vehicleTransmission' in details:
                    url_dict['vehicleTransmission'] = details['vehicleTransmission']
                else:
                    url_dict['vehicleTransmission'] = np.nan 
                url_dict['Владельцы'] = page.find('li', class_='CardInfoRow CardInfoRow_ownersCount').find_all(
                    'span', class_='CardInfoRow__cell')[1].text.replace(u'\xa0', u' ')
                url_dict['ПТС'] = page.find('li', class_='CardInfoRow CardInfoRow_pts').find_all(
                    'span', class_='CardInfoRow__cell')[1].text
                url_dict['Привод'] = page.find('li', class_='CardInfoRow CardInfoRow_drive').find_all(
                    'span', class_='CardInfoRow__cell')[1].text
                url_dict['Руль'] = page.find('li', class_='CardInfoRow CardInfoRow_wheel').find_all(
                    'span', class_='CardInfoRow__cell')[1].text
                url_dict['Состояние'] = page.find('li', class_='CardInfoRow CardInfoRow_state').find_all(
                    'span', class_='CardInfoRow__cell')[1].text
                url_dict['Таможня'] = page.find('li', class_='CardInfoRow CardInfoRow_customs').find_all(
                    'span', class_='CardInfoRow__cell')[1].text
                complectation = []
                for i in page.find_all('li', class_='ComplectationGroups__itemContentEl'):
                    complectation.append(i.text)
                url_dict['complectation_dict'] = complectation
                cars.append(url_dict)
                counter += 1
    print(brand, counter)
    counter = 0
    brand_file = brand + '.csv'
    with open(brand_file, 'w', newline='', encoding='utf-8') as csvfile:
        fieldnames = fieldnames = ['bodyType', 'brand', 'car_url', 'color', 'complectation_dict', 'description', 'engineDisplacement', 'enginePower',
                                   'fuelType', 'image', 'mileage', 'modelDate', 'model_name', 'name', 'numberOfDoors', 'parsing_unixtime', 'price', 'priceCurrency',
                                   'productionDate', 'vehicleConfiguration', 'vehicleTransmission', 'Владельцы', 'ПТС', 'Привод', 'Руль', 'Состояние', 'Таможня']
        writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
        writer.writeheader()
        writer.writerows(cars)
print('end')

In [79]:
# записываем CSV-файл в объект DataFrame
avto1 = pd.read_csv('INFINITI.csv') 
avto2 = pd.read_csv('VOLKSWAGEN.csv')
avto3 = pd.read_csv('NISSAN.csv')
avto4 = pd.read_csv('MERCEDES.csv')
avto5 = pd.read_csv('TOYOTA.csv')
avto6 = pd.read_csv('MITSUBISHI.csv')
avto7 = pd.read_csv('SKODA.csv')
avto8 = pd.read_csv('AUDI.csv')
avto9 = pd.read_csv('VOLVO.csv')
avto10 = pd.read_csv('HONDA.csv')
avto11 = pd.read_csv('BMW.csv')
avto12 = pd.read_csv('LEXUS.csv')

In [80]:
# объединяем
df = avto1.append(avto2, sort=False).reset_index(drop=True)
df = df.append(avto3, sort=False).reset_index(drop=True)  
df = df.append(avto4, sort=False).reset_index(drop=True)  
df = df.append(avto5, sort=False).reset_index(drop=True)  
df = df.append(avto6, sort=False).reset_index(drop=True) 
df = df.append(avto7, sort=False).reset_index(drop=True) 
df = df.append(avto8, sort=False).reset_index(drop=True) 
df = df.append(avto9, sort=False).reset_index(drop=True) 
df = df.append(avto10, sort=False).reset_index(drop=True)
df = df.append(avto11, sort=False).reset_index(drop=True) 
df = df.append(avto12, sort=False).reset_index(drop=True)

In [81]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49532 entries, 0 to 49531
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   bodyType              49532 non-null  object
 1   brand                 49532 non-null  object
 2   car_url               49532 non-null  object
 3   color                 49532 non-null  object
 4   complectation_dict    49532 non-null  object
 5   description           49532 non-null  object
 6   engineDisplacement    49532 non-null  object
 7   enginePower           49532 non-null  object
 8   fuelType              49532 non-null  object
 9   image                 49532 non-null  object
 10  mileage               49532 non-null  int64
 11  modelDate             49532 non-null  int64
 12  model_name            49532 non-null  object
 13  name                  49532 non-null  object
 14  numberOfDoors         49532 non-null  int64
 15  parsing_unixtime      0 non-null      float64
 16  price                 49532 non-null  int64
 17  priceCurrency         49532 non-null  object
 18  productionDate        49532 non-null  int64
 19  vehicleConfiguration  49532 non-null  object
 20  vehicleTransmission   49532 non-null  object
 21  Владельцы             49532 non-null  object
 22  ПТС                   49532 non-null  object
 23  Привод                49532 non-null  object
 24  Руль                  49532 non-null  object
 25  Состояние             49532 non-null  object
 26  Таможня               49532 non-null  object
dtypes: float64(1), int64(5), object(21)
memory usage: 10.2+ MB
None

In [82]:
pd.DataFrame(df.brand.value_counts())

            brand
VOLKSWAGEN  10935
BMW          7290
NISSAN       6996
SKODA        4628
TOYOTA       3641
MERCEDES     3614
LEXUS        2907
INFINITI     2704
AUDI         2652
MITSUBISHI   2143
VOLVO        1087
HONDA         935

In [86]:
df.to_csv('auto_421.csv', index=False)

In [84]:
print(df['price'].min())

25000

In [85]:
print(df['price'].max())

31500000

In [66]:
df.isnull().sum()

bodyType                    0
brand                       0
car_url                     0
color                       0
complectation_dict          0
description                 0
engineDisplacement          0
enginePower                 0
fuelType                    0
image                       0
mileage                     0
modelDate                   0
model_name                  0
name                        0
numberOfDoors               0
parsing_unixtime        57359
price                       0
priceCurrency               0
productionDate              0
vehicleConfiguration        0
vehicleTransmission         0
Владельцы                   0
ПТС                         0
Привод                      0
Руль                        0
Состояние                   0
Таможня                     0
dtype: int64

In [38]:
df.isnull().sum()

bodyType                    0
brand                       0
car_url                     0
color                       0
complectation_dict          0
description                 0
engineDisplacement          0
enginePower                 0
fuelType                    0
image                       0
mileage                     0
modelDate                   0
model_name                  0
name                        0
numberOfDoors               0
parsing_unixtime        48776
price                       0
priceCurrency               0
productionDate              0
vehicleConfiguration        0
vehicleTransmission         0
Владельцы                   0
ПТС                         0
Привод                      0
Руль                        0
Состояние                   0
Таможня                     0
dtype: int64